<div class="form-container">
  <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <table class="example-full-width">
      <tr>
        <td>
          <mat-form-field class="full-width-form-field">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Job title</mat-label>
            <input matInput formControlName="jobTitle" type="text" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width-form-field">
            <mat-icon matPrefix>location_on</mat-icon>
            <mat-label>City,State</mat-label>
            <input matInput formControlName="city" type="text" />
          </mat-form-field>
        </td>
        <td>
          <button mat-stroked-button class="full-width-button" type="submit">
            Find jobs
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
<div style="height: 45%;"></div>
<!--Search result-->
<div  class="form-container" *ngIf="searchResults.length > 0" style="margin-top: 30px;">
  <div *ngFor="let job of searchResults" class="job-item" style="display: flex; flex-direction: row; align-items:center; justify-content: space-between;">
    <div>
      <h3>{{ job.jobTitle }}</h3>
      <p><strong>Company:</strong> {{ job.companyName }}</p>
    </div>
    <div>
      <button mat-stroked-button (click)="viewDetails(job)" style="background-color: #DBE2EF;">
        View Details
      </button>
      
    </div>
   
  </div>
</div>

<!-- Show message if no results found -->
<div *ngIf="searchResults.length === 0 && !searchForm.invalid && submitted">
  <p>No jobs found.</p>
</div>