<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid" style="margin-top: 5%">
      <form
        [formGroup]="submitForm"
        (ngSubmit)="submitApplication()"
        enctype="multipart/form-data"
      >
        <fieldset>
          <legend style="text-align: center">Hiring an employee</legend>

          <div class="form-group">
            <label for="job-title">Job Title</label>
            <input
              type="text"
              formControlName="jobTitle"
              class="form-control"
              id="job-title"
            />
          </div>

          <div class="form-group">
            <label for="company-name">Company Name</label>
            <input
              type="text"
              formControlName="companyName"
              class="form-control"
              id="company-name"
            />
          </div>

          <div class="form-group">
            <label for="location">Location</label>
            <input
              type="text"
              formControlName="location"
              class="form-control"
              id="location"
            />
          </div>

          <div class="form-group">
            <label for="application-deadline">Application Deadline</label>
            <input
              type="date"
              formControlName="applicationDeadline"
              class="form-control"
              id="application-deadline"
            />
          </div>

          <div class="form-group">
            <label for="job-description">Job Description</label>
            <textarea
              formControlName="jobDescription"
              class="form-control"
              id="job-description"
              rows="5"
            ></textarea>
          </div>
        </fieldset>

        <div class="btns">
          <input type="text" name="_gotcha" value="" style="display: none" />
          <input
            type="submit"
            class="btn btn-primary"
            value="Submit application"
          />
        </div>
      </form>
      <!-- <div style="height: 45%;"></div> -->
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
