<section class="">
  <footer class="text-center text-white" style="background-color: #3f72af">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button
            data-mdb-ripple-init
            type="button"
            class="btn btn-outline-light btn-rounded"
            [routerLink]="['/signup']"
          >
            Sign up!
          </button>
        </p>
      </section>
    </div>

    <div class="text-center p-3" style="background-color: #112d4e">
      © 2024 Copyright:
      <a class="text-white" href="https://">JobSync.com</a>
    </div>
  </footer>
</section>
